

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

<div class="card-body card-home">
  <h4 class="card-title">Home Page</h4>
  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  <a href="" class="btn btn-primary">Go somewhere</a>
</div>


<a class="btn btn-primary" (click)="onClig()" role="button">get current user name &raquo;</a>