
<div class="container">

  <app-header></app-header>

    <div class="jumbotron">
      <div class="container innerContent">
          <router-outlet></router-outlet>
      </div>
    </div>

  <app-footer></app-footer>

</div>