
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">e-Deanery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul *ngIf="currentUser" class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
      

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            O nas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="">Jas</a>
            <a class="dropdown-item" href="">Grzec</a>
            <a class="dropdown-item" href="">Krzyc</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-header text-muted">O grupie</a>
            <a class="dropdown-item" href="">JGK</a>
          </div>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li *ngIf="!currentUser" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!currentUser" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li *ngIf="currentUser" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
          <a class="nav-link" (click)="logout()" routerLink="/login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>