/* You can add global styles to this file, and also import other style files */



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.jumbotron {
   // background: url('http://placekitten.com/800/500') no-repeat center center;
   // background-size: cover;
   // color: #fff;
    padding: 5em inherit;
}

.innerContent {
    background-color: whitesmoke;
    padding: 5em ;
    border-radius: 5px;
    width:70%;
}

